.navbar-two {
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
    
    
}

.navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}

.navigation-icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
}

.img {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}



.navbar-two {
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
    
    
}

.navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}

.navigation-icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
}

.img {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}



.layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

}

.navbar {
    position: relative;
}



.content {
    flex: 1;
    overflow-y: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    
}